    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
        font-family: 'Work Sans', sans-serif;
    
    }

    /* hero area start */

    .sale-fever{
        font-size: 2rem;
        font-weight:500;
        color: black;
        text-align: center;
    }


    .span-twenty-percent-off{
        color: #E527B2;
    }

    /* hero area end */




    .modal-go-home-button{

        margin-right:74px;

    }


    
    
    
    
    
    
    
    @media screen and (max-width: 321px) {

        .hero-section{
            padding:20px;
        }

        .hero-offer{
            font-size:24px;
        }

        .hero-heading{
            font-size:24px;
        }

        

        .hero-button{
            width: 105px;
            font-size: 20px;
        }



        .modal-go-home-button{
            margin-right: 44px;
        }
   


    }




